



<td-layout>
  <td-navigation-drawer flex sidenavTitle="StockX Dashboard" logo="assets:teradata" name="Firstname Lastname" email="firstname.lastname@company.com">
    <mat-nav-list>
      <a *ngFor="let item of routes" mat-list-item><mat-icon>{{item.icon}}</mat-icon>{{item.title}}</a>
    </mat-nav-list>
    <div td-navigation-drawer-menu>
      <mat-nav-list>
        <a *ngFor="let item of usermenu" mat-list-item><mat-icon>{{item.icon}}</mat-icon>{{item.title}}</a>
      </mat-nav-list>
    </div>
  </td-navigation-drawer>


  <td-layout-nav color="accent">

    <div td-toolbar-content layout="row" layout-align="start center" flex>
      <button mat-icon-button td-menu-button tdLayoutToggle>
        <mat-icon>menu</mat-icon>
      </button>
      <span [routerLink]="['/']" class="cursor-pointer">StockX Dashboard</span>
      <span flex></span>
    </div>


    <td-layout-manage-list #manageList
            [opened]="media.registerQuery('gt-sm') | async"
            [mode]="(media.registerQuery('gt-sm') | async) ? 'side' :  'over'"
            [sidenavWidth]="(media.registerQuery('gt-xs') | async) ? '257px' : '100%'">
      <mat-toolbar td-sidenav-content>
        <span>Optional Title</span>
      </mat-toolbar>
      <mat-nav-list td-sidenav-content [tdLayoutManageListClose]="!media.query('gt-sm')">
        <ng-template let-item let-last="last" ngFor [ngForOf]="navmenu">
          <a mat-list-item>
            <mat-icon matListIcon>{{item.icon}}</mat-icon> {{item.title}}
          </a>
        </ng-template>
      </mat-nav-list>
      <mat-toolbar>
        <div layout="row" layout-align="start center" flex>
          <button mat-icon-button tdLayoutManageListOpen [hideWhenOpened]="true">
            <mat-icon>arrow_back</mat-icon>
          </button>
          <span>Content Title</span>
          <span flex></span>
          <button mat-icon-button><mat-icon>settings</mat-icon></button>
        </div>
      </mat-toolbar>

      
      <div layout-gt-sm="row" tdMediaToggle="gt-xs" [mediaClasses]="['push-sm']">
        <div flex-gt-sm="60">
          <mat-card>
            <mat-card-title>Products Sales</mat-card-title>
            <mat-card-subtitle>usage stats for our products</mat-card-subtitle>
            <mat-divider></mat-divider>
            <mat-card-content>
              card content
            </mat-card-content>
            <mat-divider></mat-divider>
            <mat-card-actions>
              <a mat-button color="accent" class="text-upper" [routerLink]="['/']">
                <span>View More</span>
              </a>
            </mat-card-actions>
          </mat-card>
          <mat-card>
            <mat-card-title>Customer Activity</mat-card-title>
            <mat-card-subtitle>Recent activity from select members</mat-card-subtitle>
            <mat-divider></mat-divider>
            <mat-card-content>
              card content
            </mat-card-content>
            <mat-divider></mat-divider>
            <mat-card-actions>
              <a mat-button color="accent" class="text-upper" [routerLink]="['/']">
                <span>View More</span>
              </a>
            </mat-card-actions>
          </mat-card>
        </div>
        <div flex-gt-sm="40">
          <mat-card>
            <mat-card-title>Alerts</mat-card-title>
            <mat-card-subtitle>Items requiring attention</mat-card-subtitle>
            <mat-divider></mat-divider>
            <mat-card-content>
              card content
            </mat-card-content>
            <mat-divider></mat-divider>
            <mat-card-actions>
              <a mat-button color="accent" class="text-upper" [routerLink]="['/']">
                <span>View More</span>
              </a>
            </mat-card-actions>
          </mat-card>
          <mat-card>
            <mat-card-title>Favorites</mat-card-title>
            <mat-card-subtitle>Your favorite products</mat-card-subtitle>
            <mat-divider></mat-divider>
            <mat-card-content>
              card content
            </mat-card-content>
            <mat-divider></mat-divider>
            <mat-card-actions>
              <a mat-button color="accent" class="text-upper" [routerLink]="['/']">
                <span>View More</span>
              </a>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>

    </td-layout-manage-list>
    <td-layout-footer>
      <div layout="row" layout-align="start center">
        <span class="mat-caption">Copyright &copy; 2017 Teradata. All rights reserved</span>
      </div>
    </td-layout-footer>
  </td-layout-nav>
</td-layout>



<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
